@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'switzer variable', switzer;
    background-color: #1B3936;
    overflow-x: hidden;
}

/* navbar */
nav ul {
    margin: 0;
    padding: 40px;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;

}

nav ul li img {
    margin-right: 250px;
    margin-left: 250px;
}

nav ul li a:hover {
    color: #000;
    text-decoration: underline;
}

/* hero */
.hero>.container>.bg {
    position: absolute;
    top: 25%;
    left: 35%;
}

.hero>.container>.line {
    position: absolute;
    top: 0;
    left: 20%;
}

.hero>.container>.icon {
    position: absolute;
    top: 52%;
    left: 76%;
}

.hero>.container>.hero-text {
    position: absolute;
    top: -15%;
    left: 30%;
    color: #ffffff;
}

.hero>.container>.hero-text h1 {
    font-size: 250px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1;
}

.hero>.container>.hero-text h1>.cosy {
    position: absolute;
    top: 135%;
    left: 50px;
}

.hero>.container>.hero-text h1>.cabin {
    position: absolute;
    color: #75FF69;
    top: 250%;
    left: 190px;
    font-size: 200px;
}

.hero>.container>.hero-text h1>.in-the {
    position: absolute;
    top: 360%;
    left: 320px;
    font-size: 40px;
    font-weight: 400;
    width: 150px;
}

.hero>.container>.hero-text h1>.woods {
    position: absolute;
    position: absolute;
    top: 370%;
    left: -20px;
    font-size: 220px;
}

.hero p {
    position: absolute;
    top: 90%;
    left: 35%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    width: 570px;
}

/* info */
.info {
    display: block;
    position: relative;
    background-color: #ffffff;
    height: 850px;
    width: 100%;
    margin-top: 950px;
}

.info>.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0;
}

.info>.container>.info-one {
    width: 600px;
    font-size: 30px;
}

.info>.container>.info-two {
    width: 600px;
    font-size: 30px;
}

.info>.container>.info-two>.one,
.two {
    margin-bottom: 140px;
}

.info>.container>.info-two h1 {
    font-size: 100px;
    font-weight: bold;
    font-style: normal;
    line-height: 0;
    color: #1B3936;
}

.info>.container>.info-two p {
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    line-height: 0;
    color: #1B3936;
}

/* image */
.image>.container img {
    width: 100%;
    height: 850px;
}

/* about */
.about-us img {
    width: 1440px;
    height: 1624px;
    margin-left: 350px;
}

.about-us>.container {
    display: none;
}

/* unique rooms */
.unique-rooms {
    background-color: #ffffff;
    height: 1496px;
}

.unique-rooms>.container {
    display: none;
}

.unique-rooms>.container2 {
    font-size: 50px;
    font-weight: normal;
    color: #1B3936;
    width: 50%;
    padding: 150px 200px;
}

.unique-rooms>.slide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* CTA */
.cta {
    background-color: #1B3936;
    height: 900px;
}

.cta>.container {
    display: flex;
    align-items: center;
    padding: 100px 0px 100px 400px;
}

.cta>.container>.cta-text {
    position: absolute;
    text-align: center;
    color: #ffffff;
}

.cta>.container>.cta-text h1 {
    font-size: 60px;
    font-weight: 200;
    width: 550px;
    margin-left: 350px;
}

.cta>.container>.cta-text h1 span {
    color: #5cff4d;
}

.cta>.container>.cta-text p {
    font-size: 18px;
    width: 360px;
    margin-left: 430px;
}

.cta>.container>.cta-text input {
    background-color: #ffffff;
    color: #1B3936;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: semi-bold;
    margin-left: 300px;
}

.cta>.container>.cta-text button {
    background-color: #75ff69;
    color: #1B3936;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    margin-left: -4px;
}

/* testimonial */
.testimonial {
    background-color: #ffffff;
    height: 1155px;

}

.testimonial>.container>.text-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 100px;
}

.testimonial>.container>.text-header h1 {
    font-size: 80px;
    font-weight: 200;
    color: #1B3936;
}

.testimonial>.container>.text-header p {
    font-size: 24px;
    font-weight: 300;
    color: #1B3936;
}

.testimonial>.container>.testimonial-slide {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    margin-left: 400px;
}

.testimonial>.container>.testimonial-slide>.slide>.review {
    position: relative;
    top: -170px;
    left: -100px;
}

.testimonial>.container>.btn img {
    position: absolute;
    top: 7870px;
    left: 46%;
    cursor: pointer;
}

/* footer */
footer {
    background-color: #ffffff;
    height: 1130px;
}

footer>.container>.banner {
    padding: 200px 450px;
}

footer>.container>.link {
    background-color: #1B3936;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer>.container>.link img {
    margin-right: 150px;
    cursor: pointer;
}

footer>.container>.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer>.container>.social a {
    padding: 15px 0;
    font-size: 20px;
    font-weight: 500;
    color: #1B3936;
    text-decoration: none;
}